<?xml version="1.0" encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--连接数据库信息-->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://127.0.0.1:3306/hibernate?
            useUnicode=true&amp;characterEncoding=UTF-8
        </property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <!--设置方言-->
        <property name="dialect">org.hibernate.dialect.MySQL55Dialect</property>
        <!--设置可视化sql-->
        <property name="show_sql">true</property>
        <!--设置生成数据库方式-->
        <property name="hbm2ddl.auto">update</property>
        <!--格式化sql-->
        <property name="format_sql">true</property>

        <!-- 以文件路径的方式加载映射文件 -->

    </session-factory>
</hibernate-configuration>